.name-tag {
    height: 200px;
    width: 300px;
    display: grid;
    grid-template-rows: 1fr 1fr .1fr;
    box-shadow: 2px 2px 10px 2px slategray;
    border-radius: 20px;
    margin: 3% 0% 4% 36% 
    
}

.top { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 20px 20px 0px 0px;
}

.middle {
    font-family: cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: ivory;
}

.bottom {
    height: 30px;
    background-color: red;
    border-radius: 0px 0px 20px 20px;
}

h1,h2 {
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}
.footer {
    height: 30px;
    width: 100%;
    background-color: rgb(62, 79, 85);

}
.header {
    height: 40px;
    width: 100%;
    background-color: rgb(62, 79, 85);
}
.main {
    height: 100%;
    width: 100%;
    background-color: goldenrod;
}
.body {
    background-color: rgb(140, 195, 221);

}

.input1 {
background-color: lightseagreen;
margin-left: 30%;
}
.input2 {
    background-color: lightseagreen;
}